<div class="header">
    <div class="container-fluid">
      <div class="row ">
        <div class="col-xl-12">
          <h2 class="text-center my-4"><img src="../assets/images/logo.png " height="50"  /> Bin Wise</h2>
        </div>
      </div>
    </div>
  </div>

<div class="container" style="padding-top:200px;">
    <div class="row justify-content-md-center">
        <div class="col-8 ">
            <div class="box-content">
                <form [formGroup]="form" (ngSubmit)="changePassword()">
                    <div class="login-form" style="padding:20px 50px 50px;">
                        <h4 class=" float-left"><i class="fas fa-unlock-alt mr-1"></i> Forgot Password?</h4>
                        <a class="btn btn-success float-right" href="/login" role="button">Login Page</a>
                        <!-- <div class="mt-3" style="padding-top:50px;">
                            
                                <label class="-text"><i class="fas fa-unlock-alt mr-1"></i> New Password</label>
                            
                            <input type="password" class="form-control" formControlName="newPassword" autocomplete="off">
                        </div> -->

                        
                        <div class=" mt-5">
                            <!-- class="input-group-text" -->
                            <span ><i class="fas fa-unlock-alt mr-1 "></i> <strong>New Password</strong></span>
                        </div>
                        <div class="input-group mt-2">
                            
                                <!-- <label class="-text"><i class="fas fa-unlock-alt mr-1"></i> Retype New Password</label> -->
                                <!-- <input  type="password" class="form-control" formControlName="retypeNewPassword" autocomplete="off"> -->

                                
                            <input matInput [type]="newPasswordEye ? 'password' : 'text'" type="password" autocomplete="off" class="form-control" style ="border-top-right-radius:5%; border-bottom-right-radius : 5%;" 
                            formControlName="newPassword" id="newPassword" >
                            <a class="input-group-text"  (click)="newPasswordEye = !newPasswordEye" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="newPasswordEye"  aria-hidden="true">
                            <mat-icon>{{newPasswordEye ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </a>
                        </div>
                        <div class="error" *ngIf="form.controls['newPassword'].hasError('required') && form.controls['newPassword'].touched">
                            <h5 class="text-danger mt-1"> field is required</h5>
                        </div>


                        <div class=" mt-3">
                            <!-- class="input-group-text" -->
                            <span ><i class="fas fa-unlock-alt mr-1 "></i> <strong>Retype New Password</strong></span>
                        </div>
                        <div class="input-group mt-2">
                            
                                <!-- <label class="-text"><i class="fas fa-unlock-alt mr-1"></i> Retype New Password</label> -->
                                <!-- <input  type="password" class="form-control" formControlName="retypeNewPassword" autocomplete="off"> -->

                            <input matInput [type]="RetypeNewPasswordEye ? 'password' : 'text'" type="password" autocomplete="off" class="form-control" formControlName="retypeNewPassword" id="retypeNewPassword" style ="border-top-right-radius:5%; border-bottom-right-radius : 5%;"  >
                            <a class="input-group-text"  (click)="RetypeNewPasswordEye = !RetypeNewPasswordEye" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="RetypeNewPasswordEye"  aria-hidden="true">
                            <mat-icon>{{RetypeNewPasswordEye ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </a>
                        </div>
                        <div class="error"
                            *ngIf="form.controls['retypeNewPassword'].hasError('required') && form.controls['retypeNewPassword'].touched">
                            <h5 class="text-danger mt-1"> field is required</h5>
                        </div>
                        
                        <div class="form-group mt-3">
                            <button class="btn btn-warning" style="width: 100%;" [disabled]="form.invalid"><i class="fas fa-check"></i> Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>