<div class="main-db ">


    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Change Password</h1>
                    </div>
                </div>
            </div>


        </section>
        <div class="content">


            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 ">
                        <div class="">
                            <form [formGroup]="form" (ngSubmit)="changePassword()">
                                <div>
                                    <div class="input-group mt-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-unlock-alt mr-1"></i>
                                                Old Password</span>
                                        </div>
                                        <input autocomplete="off" type="password" class="form-control"
                                            formControlName="oldPassword" id="oldPassword">
                                    </div>
                                    <div class="error"
                                        *ngIf="form.controls['oldPassword'].hasError('required') && form.controls['oldPassword'].touched">
                                        <h6 class="text-danger mt-1"> field is required</h6>
                                    </div>
                                    <div class="input-group mt-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-unlock-alt mr-1"></i>
                                                New Password</span>
                                        </div>
                                        <input type="password" class="form-control" formControlName="newPassword"
                                            id="newPassword" autocomplete="off">
                                    </div>
                                    <div class="error"
                                        *ngIf="form.controls['newPassword'].hasError('required') && form.controls['newPassword'].touched">
                                        <h6 class="text-danger mt-1"> field is required</h6>
                                    </div>
                                    <div class="input-group mt-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-unlock-alt mr-1"></i>
                                                Retype New Password</span>
                                        </div>
                                        <input type="password" class="form-control" formControlName="retypeNewPassword"
                                            id="retypeNewPassword" autocomplete="off">
                                    </div>
                                    <div class="error"
                                        *ngIf="form.controls['retypeNewPassword'].hasError('required') && form.controls['retypeNewPassword'].touched">
                                        <h6 class="text-danger mt-1"> field is required</h6>
                                    </div>

                                    <div class="form-group mt-3">
                                        <button class="btn btn-warning" style="width: 100%;"
                                            [disabled]="form.invalid"><i class="fas fa-check"></i> Update
                                            password</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>