<mat-dialog-content class="">
  <form class="example-form" >
    <h3 class="mb-3">
      <i class="fas fa-check-circle mr-1"></i> Notification Information
    </h3>
    <div>
      <h3 class="float-left red-text">{{ notificationData.sensorName }} ({{ notificationData.devEUI }})</h3>
    </div>
    <table class="table">
      <tr>
        <td>Organization</td>
        <td align="right">
          <strong *ngIf="binSpotData.organizationName !== null"> {{ binSpotData.organizationName }}</strong>
          <strong *ngIf="binSpotData.organizationName  == null">N/A </strong>
        </td>
      </tr>

      <!--  -->
      <tr>
        <td>Bin Name </td>
        <td align="right">
          <strong *ngIf="binSpotData.binName !== null"> {{ binSpotData.binName }}</strong>
          <strong *ngIf="binSpotData.binName  == null">N/A </strong>
        </td>
      </tr>

      <tr>
        <td>Bin Status</td>
        <td align="right">
          <!-- {{notificationData.binStatus}} -->
          <strong *ngIf="notificationData.binStatus !== null"> {{ notificationData.binStatus }}  ({{notificationData.text}}) </strong>
          <strong *ngIf="notificationData.binStatus  == null">N/A </strong>
        </td>
      </tr>
    </table>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <!-- <button class="btn btn-success float-right mr-2" type="submit" [disabled]="!form.valid" (click)="saveAction()">
      <i class="fas fa-check-circle mr-1"></i> Save</button> -->
  <button class="btn btn-light float-right" (click)="closeDialog()">
    <i class="fas fa-times mr-1"></i> Close</button>
</mat-dialog-actions>
