<h4 mat-dialog-title><i class="fas fa-pen mr-1"></i> Update Bin Spot color</h4>

<mat-dialog-content class="mat-typography">
    <div>
        <form class="example-form input-content" [formGroup]="form">
           
           
            <mat-form-field [hidden]="checkRole()" class="example-full-width">
                <mat-label>Organization</mat-label>
                <mat-select  formControlName="organizationId" disabled>
                    <mat-option *ngFor="let allOrganizations of allOrganizations" [value]="allOrganizations.id" disabled>
                        {{allOrganizations.name}}
                    </mat-option>
                </mat-select>
                <mat-hint align="end" style="color: rgb(162, 170, 177) !important;" >Non Editable</mat-hint>
            </mat-form-field>
           

           
            <!-- <mat-form-field class="example-full-width">
                <mat-label>Organization</mat-label>
                <input type="text" matInput formControlName="organizationId">
            </mat-form-field> -->


            <!-- <mat-form-field class="example-full-width">
                <mat-label>platformName</mat-label>
                <input type="text"  matInput formControlName="platformName">
            </mat-form-field> -->


            <mat-form-field class="example-full-width">
                <mat-label>platformName</mat-label>
                <mat-select matInput formControlName="platformName" disabled >
                <mat-option value="WEB">web</mat-option>
                <mat-option value="MOBILE">mobile</mat-option>
                </mat-select>
                <mat-hint align="end" style="color: rgb(162, 170, 177) !important;" >Non Editable</mat-hint>

            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Full Color</mat-label>
                <input type="color" matInput formControlName="fullColor">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Full Text</mat-label>
                <input type="text" matInput formControlName="fullText">
            </mat-form-field>
           

            <!-- amk -->
            <mat-form-field class="example-full-width">
                <mat-label>Partial Full Color</mat-label>
                <input type="color" matInput formControlName="partialFullColor">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Partial Full Text</mat-label>
                <input type="text" matInput formControlName="partialFullText">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>EmptyColor</mat-label>
                <input type="color" matInput formControlName="emptyColor">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Empty Text</mat-label>
                <input type="text" matInput formControlName="emptyText">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Fire Color</mat-label>
                <input type="color" matInput formControlName="fireColor">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Fire Text</mat-label>
                <input type="text" matInput formControlName="fireText">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Fallen Color</mat-label>
                <input type="color" matInput formControlName="fallenColor">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Fallen Text</mat-label>
                <input type="text" matInput formControlName="fallenText">
            </mat-form-field>
          

        
            <mat-form-field class="example-full-width">
                <mat-label>Status</mat-label>
                <mat-select matNativeControl formControlName="status">
                    <mat-option *ngFor="let statusObject of statusList" [(value)]="statusObject.id">
                        {{statusObject.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- amk -->
           


           


        </form>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button class="btn btn-warning  float-right mr-2" type="submit" [disabled]="!form.valid" (click)="updateSpotColor()">
        <i class="fas fa-pen mr-1"></i> Update</button>
    <button class="btn btn-light float-right" (click)="closeDialog()">
        <i class="fas fa-times mr-1"></i> Cancel
    </button>
</mat-dialog-actions>