<h4 mat-dialog-title><i class="fas fa-plus mr-1"></i> Geofence Detail</h4>

<mat-dialog-content class="mat-typography">
  <div>
    <form
      class="example-form input-content"
      [formGroup]="form"
      (submit)="submit()"
    >
      <div class="row">
        <div class="col-xl-3">
          <mat-form-field class="example-full-width">
            <mat-label>Sequence</mat-label>
            <input matInput formControlName="sequence" />
          </mat-form-field>
        </div>
        <div class="col-xl-3">
          <mat-form-field class="example-full-width">
            <mat-label>Latitude</mat-label>
            <input matInput formControlName="latitude" />
          </mat-form-field>
        </div>
        <div class="col-xl-3">
          <mat-form-field class="example-full-width">
            <mat-label>Longitude</mat-label>
            <input matInput formControlName="longitude" />
          </mat-form-field>
        </div>
        <div class="col-xl-2">
          <button
            class="btn btn-success btn-sm float-left mt-3 ml-2"
            type="submit"
            [disabled]="!form.valid"
          >
            <i class="fas fa-plus mr-1"></i> {{ ActionBtn }}
          </button>
        </div>
      </div>
    </form>
    <hr />
    <div class="row mt-2">
      <div class="col-xl-6">
        <div class="">
          <input
            type="text"
            class="form-control form-control-sm input-custom"
            (keyup)="applyFilter($event)"
            placeholder="Search"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-2">
        <table mat-table [dataSource]="dataSource" class="gridData" matSort>
          <ng-container matColumnDef="geofence">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Geofence</th>
            <td mat-cell *matCellDef="let element">
              {{ element.geofence.geofencename }}
            </td>
          </ng-container>

          <ng-container matColumnDef="sequence">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sequence</th>
            <td mat-cell *matCellDef="let element">{{ element.sequence }}</td>
          </ng-container>

          <ng-container matColumnDef="latitude">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Latitude</th>
            <td mat-cell *matCellDef="let element">{{ element.latitude }}</td>
          </ng-container>

          <ng-container matColumnDef="longitude">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Longitude</th>
            <td mat-cell *matCellDef="let element">{{ element.longtitude }}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                matTooltip="Click to Edit"
                class="iconbutton text-warning"
              >
                <mat-icon aria-label="Edit" (click)="update(element)"
                  >edit</mat-icon
                >
              </button>

              <button
                mat-icon-button
                matTooltip="Click to Delete"
                class="iconbutton text-danger"
              >
                <mat-icon
                  aria-label="Delete"
                  (click)="deleteGeofenceDetail(element)"
                  >delete</mat-icon
                >
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-light btn-sm float-right" (click)="closeDialog()">
    <i class="fas fa-times mr-1"></i> Cancel
  </button>
</mat-dialog-actions>
